/* fonts */
$black: 'SourceSansPro-Black';
$regular: 'SourceSansPro-Regular';
$bold: 'SourceSansPro-Bold';
$light: 'SourceSansPro-Light';

/* colores */
$azul: #003569;
$azultexto: #063D7A;
$naranja: #FD6002;
$grisclaro: #CBCACA;
$gristexto: #333333;
$fondo: #F5F5F5;



/* media-queries */
$break-md: "screen and (max-width: 1199px)";
$break-sm: "screen and (max-width: 991px)";
$break-xs: "screen and (max-width: 767px)";
$break-480: "screen and (max-width: 480px)";
$break-320: "screen and (max-width: 320px)";

body{
	font-size: 14px; font-family: $regular; color: $gristexto; overflow-x: hidden; background: #fff; overflow-x: hidden;
	&.overflow-hidden{
		overflow: hidden;
	}
}


h2{ letter-spacing: 1px;}
h3{ font-size: 24px; font-family: $bold;}
h4{ font-family: $bold !important; }

strong{ font-family: $bold;}

p{line-height: 160%; font-size: 16px; font-family: $regular; letter-spacing: 1px;}
.linea{
	    background-color: #e5e5e5; content: ""; height: 1px; position: absolute; width: 100%; display: block; top:103px;
}
.breadcrumb{
	background-color: transparent; float: right;
	li{
		color: #888;
		a{
			color: $naranja;
			&:hover{
				color:$azul;
			}
		}
	}
}
.clear{ clear: both; }

.btn-naranja{
 	background-color: $naranja; color: #fff; padding: 6px 30px; border-radius: 0; font-family: $bold; font-size: 14px; letter-spacing: 1px;
 	&:hover{
 		background-color: $azul; color: #fff; @include transition;
 	}
}


/* - - - H E A D E R - - -  */


header{
	background-color: rgba(255, 255, 255, 0.6); top: 0; left: 0; width: 100%; z-index: 1000; padding: 10px 0 20px 0; position: absolute;
	.visible-int{display: none;}
	.logo{
		.navbar-brand {
	    float: left;  padding: 0 15px; font-size: 18px; line-height: 20px; height: 70px;
		}
	}
	.info{
		text-align: right; margin-top: 10px;
		a{
			color: $naranja; display: inline-block; font-size: 15px; cursor: pointer; letter-spacing: 1px;
			font-family: $bold; margin-bottom: 10px;
			span{
				color: $azul;
			}
			i{
				color: $azul; margin: 0 10px 0 30px; font-size: 18px;
			}
			&:hover{
				color: $azul;
			}
		}
		&:before{
			background-color: #e5e5e5; content: ""; height: 1px; right: 0; position: absolute; width: 490px; display: block; bottom: 0;
		}
	}
	nav{
		ul{
			list-style-type: none; margin: 0; padding: 0; position: absolute; right: 0; top: -10px; /* text-align: right;*/
			li{
				display: inline-block; margin-left: 30px; position: relative;
				a{
					color: $azul; font-family: $bold; font-size: 14px; padding: 0 0 10px 0px; display: block; letter-spacing: 1px;
					&:hover{
						color:$naranja; text-decoration: none;
					}
				}
			}
		}
	}
	.mob-btn{
		text-align: right;
		a{
			color: $naranja; font-size: 24px; text-transform: uppercase; cursor: pointer; position: relative; top: 10px;
			&:hover{
				text-decoration: none; color: $azul;
			}
		}
	}
}

@media #{$break-sm} {
	header{
		nav{
			ul{
				li{
					margin-left: 10px;
				}
			}
		}
	}
}
@media #{$break-480} {
	header{
		.logo{
			.navbar-brand {
				padding-top: 10px;
			}
		}
	}
}
@media #{$break-320} {
	header{
		.logo{
			.navbar-brand {
				padding-top: 10px;
			}
		}
	}
}
footer{
	background-color: #999; padding: 40px 0 40px 0;
	.logo{
		margin-bottom: 30px;
	}
	.menu-footer{
		ul{
			list-style: none; padding: 0;
			li{
				display: inline-block; position: relative; margin-right: 44px; font-size: 13px;
				a{
					color: #fff; text-transform: uppercase; font-family: $regular;
					&:hover{
						color:$azul; font-family: $regular;
					}
				}
				&:frist-child{
					margin-left: 0;
				}
			}
			&:after{
				border-bottom:2px solid $grisclaro; display: block; content: ''; margin: 20px 0 30px 0;
			}
		}
	}
	.suscribete{
		#SignUp{
			.form-boletin{
				background-color: transparent; border-radius: 0; border: 1px solid #fff; color: #fff; width: 100%;
				padding: 7px; margin-bottom: 20px;
			}
			.btn-boletin{
			 	background-color: $naranja; color: #fff; padding: 6px 30px; border-radius: 0; font-family: $bold; font-size: 14px; letter-spacing: 1px; float: right;
			 	&:hover{
			 		background-color: $azul; color: #fff; @include transition;
			 	}
			}
		}
	}

	p{
		color: #fff; font-size: 13px;
	}
	a{
		color: $azul; letter-spacing: 1px;
		&:hover{
			color:#fff;
		}
	}
	.contacto-footer{
		font-family: $bold !important;
	}

	.redes{
		a{
			color: #fff; font-size: 30px; margin-right: 10px;
			&:hover{
				color: $azul;
			}
		}
	}
}

@media #{$break-md} {
	footer{
		.suscribete{
			.form-inline{
				.btn-naranja{
					margin-top: 10px;
				}

			}
		}
	}
}
@media #{$break-sm} {
	footer{
		.suscribete{
			.form-inline{
				.btn-naranja{
					margin-top: 10px;
				}

			}
		}
	}
}
@media #{$break-xs} {
	footer{
		.suscribete{
			.form-inline{
				.btn-naranja{
					margin-top: 10px;
				}

			}
		}
	}
}
@media #{$break-480} {
	footer{
		.suscribete{
			.form-inline{
				.btn-naranja{
					margin-top: 10px;
				}

			}
		}
	}
}
@media #{$break-320} {
	footer{
		.suscribete{
			.form-inline{
				.btn-naranja{
					margin-top: 10px;
				}

			}
		}
	}
}
.supercont{
	width: 100%; position: relative; @include transition;
}
.moveBody{
	@include vendor-prefix(transform, translateX(-420px));
}
.sidebar{
	background: $gristexto; position: fixed; top: 0; right: 0; width: 420px; height: 100%; z-index: 5000; @include transition; overflow-y: auto; padding-bottom: 50px;
	&.escondido{
		@include vendor-prefix(transform, translateX(420px));
	}
	a{
		i{
			color: $naranja;
			&:hover{
				color:#fff;
			}
		}
	}
	.sidenav{
		position: relative; padding-top: 70px;
		.side-close{
			position: absolute; top: 20px; left: 20px; cursor: pointer; font-size: 25px;
		}
		nav{
			ul{
				margin: 0; padding: 0; position: relative;
				li{
					padding: 0; border-bottom: 1px solid rgba(255,255,255,.1);
					a{
						color: #fff;
					}
					&.contacto{
						a{
							display: inline-block; padding: 10px 25px; vertical-align: middle; text-align: center; font-size: 25px; width: 48%;
							border-left: 1px solid rgba(255,255,255,.1);
							&:first-child{
								border-left:0;
							}
						}
					}
					&.cont{
						border-bottom: 1px solid rgba(255,255,255,.1);
						a{
							display: block; padding: 20px;
							&:hover{
								background: rgba(253, 96, 2, 0.6); text-decoration: none;
							}
						}
							&:first-child{
							border-top:1px solid rgba(255,255,255,.1);
						}
					}
					&.social{
						a{
							display: inline-block; padding: 10px 25px; vertical-align: middle; text-align: center; font-size: 30px; width: 32%;
							border-left: 1px solid rgba(255,255,255,.1);
							&:first-child{
								border-left:0;
							}
						}
					}
				}
			}
		}
	}
}
@media #{$break-480} {
	.moveBody{
		@include vendor-prefix(transform, translateX(-100%));
	}
	.sidebar{
		width: 100%;
		&.escondido{
			@include vendor-prefix(transform, translateX(100%));
		}
	}
}
.home-slider{
	width: 100%; position: relative;
	.cycle-slideshow{
		width: 100%;
		.slide{
			width: 100%; height: 80vh; background-size: cover; background-position: center;
			figure{
				position: relative; z-index: 1;
				img{
					width: 100%; height: auto; vertical-align: middle;
				}
			}
			.caption{
				position: absolute; top: 25%; left: 0; width: 100%; z-index: 5;
                h1{
					color: #fff; font-family: $black; font-size: 68px; text-transform: uppercase;
				}
				p{
					font-family: $light; font-size: 18px; color: #fff; margin-bottom: 50px;
				}
			}
		}
	}
	.cycle-pager {
	    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;
	    > * {
	    	cursor: pointer;
	    }
	    span {
	    	font-family: arial; font-size: 40px; width: 13px; height: 13px; display: inline-block; color: rgba(255,255,255,.3); cursor: pointer; margin: 0 5px;
	    	&.cycle-pager-active {
	    		color: $naranja;
	    	}
		}
	}
}
@media #{$break-xs} {
	.home-slider{
		.cycle-slideshow{
			.slide{
				height: 100vh;
				.caption{
					h1{
						font-size: 40px !important;
					}
				}
			}
		}
	}
}
@media #{$break-480} {
	.home-slider{
		.cycle-slideshow{
			.slide{
				height: 100vh;
				.caption{
					h1{
						font-size: 30px !important;
					}
				}
			}
		}
	}
}
@media #{$break-320} {
	.home-slider{
		.cycle-slideshow{
			.slide{
				height: 100vh;
				.caption{
					h1{
						font-size: 30px !important;
					}
				}
			}
		}
	}
}


.intro{
	background-color: $fondo; padding: 80px 0 0 0;
	.text-intro{
		margin-bottom:40px;
		h2{
		color: $azultexto; font-size: 28px; font-family: $light; line-height: 160%; padding-right: 125px;
		}
		p{
			margin-top: 25px;
		}
	}
	.home-servicios{
		.item{
			margin-top: 40px;
				a{
				display: block; outline: none; position: relative;
					figure{
						background-color:$azul;
						img{
							width: 100%; height: auto; vertical-align: middle; @include transition;
						}
					}
				h3{
					position: absolute; bottom: 70px; display: block; color: #fff; z-index: 1000; width: 100%; padding: 10px;
					font-size: 24px; font-family: $bold; text-transform: uppercase;
					&:after{
							content:''; border-bottom: 2px solid #fff; display: block; width: 100%; padding-top: 10px;
						}
				}
				p{
					display: block; position: absolute; bottom: 30px; padding: 10px; z-index: 1000; color: #fff;
				}
				span{
					display: block; position: absolute; bottom:0; z-index: 5; width: 100%; height: 40px;  font-family: $bold;
					color: #fff; font-size: 16px;  text-decoration: underline; color: $naranja; padding: 7px 10px 10px 10px;
					@include transition;
				}
				&:hover{
					figure{
						background-color:$azul; @include transition;
						img{
							opacity: .3;
						}
					}
					span{
						background-color: $naranja; color: #fff !important;
					}
				}
			}
		}
	}
}
@media #{$break-320} {
	.intro{
		.text-intro{
			h2{
				padding-right: 0;
			}
		}
		.home-servicios{
			a{
				h3{
					bottom: 80px !important;
				}
			}
		}
	}
}

@media #{$break-sm} {
	.intro{
		.text-intro{
			h2{
				padding-right: 0;
			}
		}
		.home-servicios{
			a{
				h3{
					bottom: 100px !important;
				}
			}
		}
	}
}
@media #{$break-xs} {
	.intro{
		.text-intro{
			h2{
				padding-right: 0;
			}
		}
		.home-servicios{
			a{
				h3{
					bottom: 100px !important;
				}
			}
		}
	}
}
@media #{$break-480} {
	.intro{
		.text-intro{
			h2{
				padding-right: 0;
			}
		}
		.home-servicios{
			a{
				h3{
					bottom: 80px !important;
				}
			}
		}
	}
}
@media #{$break-md} {
	.intro{
		.home-servicios{
			a{
				h3{
					bottom: 80px !important;
				}
			}
		}
	}
}
.home-redes{
	margin:50px 0 70px 0;
	h2{
		font-family: $bold; font-size: 24px; text-align: center;
	}
	.redes-section{
		margin: 50px 0 0 0;
	}
	.redes-content{
		margin:20px 0 20px 0;
	}
	#fb-root{
		width: 100%;
	}
}
@media #{$break-md}{
	.home-redes{
		.redes-content{
			padding: 0 10px 0 10px;
		}
	}
}
@media #{$break-sm}{
	.home-redes{
		.redes-content{
			padding: 0 10px 0 10px;
		}
	}
}

.banner{
	/*position: relative;
	figure{
		img{
			width: 100%; height: 40vh; vertical-align: middle; background-size: cover;
		}
	}*/
	.caption{
		position: absolute; margin-top: 100px; left: 0; width: 100%; z-index: 10;
		.texto-banner{
			color: white; padding-top: 110px;
			h1{
				padding: 0; font-family: $black;  font-size: 48px; text-transform: uppercase;
			}
		}
	}
}
.banner-servicios{
	background-image:url(../images/banner-servicios-panel-rey.jpg);background-position: center top;
	background-size: cover; height: 450px;
}
.banner-nosotros{
	background-image:url(../images/banner-nosotros-panelrey.jpg);background-position: center top;
	background-size: cover; height: 450px;
}
.banner-beneficios{
	background-image:url(../images/banner-beneficios-panel-rey.jpg);background-position: center top;
	background-size: cover; height: 450px;
}
.banner-leed{
	background-image:url(../images/banner-leed.jpg);background-position: center top;
	background-size: cover; height: 450px;
}

.nosotros-historia{
	h2{
		font-family: $light; font-size: 24px; color: $azultexto; text-align: center; margin: 80px 0 60px 0;
		span{
			font-family: $bold;
		}
	}
	p{
		margin-top: 45px;
	}
	.item{
		margin: 60px 0 60px 0;
	}
	.img-der {text-align: right; }
	figure{
		img{
			width: 100%; height: auto; max-width: 348px;
		}
	}
}

@media #{$break-xs} {
	.nosotros-historia{
		.img-der {text-align: center; }
		figure{
			text-align: center;
		}
	}
}
@media #{$break-480} {
	.nosotros-historia{
		.img-der {text-align: center; }
		figure{
			text-align: center;
		}
	}
}
@media #{$break-320} {
	.nosotros-historia{
		.img-der {text-align: center; }
		figure{
			text-align: center;
		}
	}
}

.nosotros-lideres {
	background-color: $fondo; padding: 90px 0 90px 0;
	figure{
		text-align: center;
	}
}
.nosotros-conocenos{
	background-image: url(../images/panel-rey-conocenos.png); background-size: cover;
	height: auto; width: 100%; padding: 150px 0 150px 0;
	/*&:before{
		background:rgba(0, 55, 116, 0.8); content: ''; display: block; width: 100%; height: 100%;
		position: absolute;  left: 0; z-index: 1;
	}*/
	h3, p{
		color: #fff; text-align: center; z-index: 1000; margin-bottom: 30px;
	}
	.btn-naranja{
		margin-left: 30%;
	}
}

.servicios{
	margin-bottom: 100px;
	h2{
		font-family: $light; font-size: 24px; color: $azultexto; text-align: center; margin: 80px 0 80px 0;
		line-height: 130%;
	}
	h3{
		color: $naranja; font-size: 18px; margin-bottom: 20px;
	}
	.seccion1{
		margin:30px 0 100px 0;
	}
	img{
		margin-top: 30px;
	}
}
.innovador{
	background-image: url(../images/banner-innovador.jpg); background-size: cover;
	height: auto; width: 100%;  padding: 100px 0 100px 0;
	h2{
		color: $azultexto; font-family: $light; font-size: 24px; margin-bottom: 30px;
		strong{
			font-family: $bold;
		}
	}
	p{
		margin-bottom: 30px;
	}
	ul{
		list-style: none; font-size: 16px; font-family: $regular; letter-spacing: 1px; padding: 0;
		li{
			margin: 10px 0 15px 0; width: 50%; float: left;
			img{
				margin-right: 20px; float: left;
			}
		}
	}
}

@media #{$break-xs} {
	.innovador{
		ul{
			li{
				width: 100%;
			}
		}
	}
}
@media #{$break-480} {
	.innovador{
		ul{
			li{
				width: 100%;
			}
		}
	}
}
@media #{$break-320} {
	.innovador{
		ul{
			li{
				width: 100%;
			}
		}
	}
}

.beneficios-atico{
	padding: 100px 0 50px 0;
	h3, p{
		text-align: center;
	}
	.beneficios-lista{
		margin-top: 50px;
		h4{
			color: $naranja; font-size: 18px; font-family: $bold;
			&:before{
				content: "\f111"; display: block; font-family: 'FontAwesome'; font-size: 10px; margin:5px 15px 0 0;
				float: left;
			}
		}
		p{
			text-align: left; margin-bottom: 50px;
		}
	}
}

.banner-construye{
	background-image: url(../images/banner-construye-panel-rey.jpg); background-size: cover;
	height: 500px; width: 100%;  padding: 180px 0 100px 0;
	h3{
		color: #fff; text-align: center !important; background-color: $azul; text-transform: uppercase;
		display: inline; padding: 0 5px; margin: auto;  top: 20%;
	}
}

.contacto{
	padding: 160px 0 100px 0;
	h1{
		color: $grisclaro; font-size: 48px; text-transform: uppercase; font-family: $black;
	}
	h2{
		color: $azultexto; font-family: $light; font-size: 24px; margin-bottom: 40px;
	}
	.form-control{
		background-color: #eee; border: 0;
	}
	.btn-naranja{
		float: right; margin-top: 30px !important; text-transform: uppercase;
	}
	.contacto-info{
		span{
			font-size: 18px; color: $naranja; font-family: $bold;
		}
		a{
			font-family: $bold; text-decoration: none; color: $gristexto; font-size: 16px;
			&:hover{
				color:$naranja;
			}
		}
	}
}
@media #{$break-xs} {
	.contacto{
		textarea{
			margin-top: 15px;
		}
	}
}
@media #{$break-480} {
	.contacto{
		textarea{
			margin-top: 15px;
		}
	}
}
@media #{$break-320} {
	.contacto{
		textarea{
			margin-top: 15px;
		}
	}
}


#map_canvas{
	width: 100%; height: 550px;
	.firstHeading{
		font-size: 18px; color: $azul; font-family: $bold;
	}
	.bodyContent{
		p{
			font-size: 16px; line-height: 170%;
		}
	}
}
.leed{
	background: $fondo; padding: 100px 0 100px;
	p{
		margin-bottom: 40px;
		strong{
			font-family: $bold;
		}
	}
	figure{
		img{
			width: 100%; height: auto; max-width: 374px;
		}
	}
}
.leed-certificacion{
	padding: 100px 0 100px;
	p{
		margin-bottom: 40px;
	}
	h4{
		font-family: $bold; font-size: 16px;text-transform: uppercase;
	}
	figure{
		margin: 50px 0 50px 0; text-align: center;
		img{
			width: 100%; height: auto; max-width: 300px;
		}
	}
}
@media #{$break-480} {
	.leed-certificacion{
		figure{
		margin-top: 0;
		}
	}
}
@media #{$break-320} {
	.leed-certificacion{
		figure{
		margin-top: 0;
		}
	}
}

.que-hace-leed{
	background-image: url(../images/que-puede-hacer-leed.jpg); background-size: cover;
	height: 600px; width: 100%;  padding: 100px 0 100px 0;
	h3{
		margin-bottom: 30px;
	}
	ul{
		margin-top: 50px;
		li{
			font-size: 16px; line-height: 190%; margin-bottom: 10px;
		}
	}
}
@media #{$break-320} {
	.que-hace-leed{
		height: 800px
	}
}
@media #{$break-480} {
	.que-hace-leed{
		height: 800px
	}
}


.nosotros-video{
	.container-fluid{
		padding: 0; margin: 0; background-color: $gristexto;
		.covervid-wrapper {
		    position: absolute; top: 0; left: 0; width: 100%;height: 100%;
		}
	}
}


.galeria{
	.intro-galeria{
		margin: 160px 0 60px 0;
		h1{
			color: $grisclaro; font-size: 48px; text-transform: uppercase; font-family: $black;
		}
	}
	.img-galeria {
		.item2{
			margin-bottom: 40px;
				a{
				display: block; outline: none; position: relative;
				figure{
					background-color:$azul;
					img{
					width: 100%; height: auto; vertical-align: middle;	@include transition;
					}
					/*&:before{
						content: ''; display: block; width: 100%; height: 100%; background: rgba(35, 35, 35, 0.2); position: absolute; top: 0; left: 0; z-index: 0;
					}*/
				}
				h4{
					position: absolute; bottom: 35px; display: block; color: #fff; z-index: 1000; width: 100%; padding: 10px;
					font-size: 18px; font-family: $bold; text-transform: uppercase;
					&:after{
							content:''; border-bottom: 2px solid #fff; display: block; width: 100%; padding-top: 10px;
						}
				}
				span{
					display: block; position: absolute; bottom:0; z-index: 5; width: 100%; height: 40px;  font-family: $bold;
					color: #fff; font-size: 16px;  text-decoration: underline; color: $naranja; padding: 7px 10px 10px 10px;
					@include transition;
				}
				&:hover{
					figure{
						background-color:$azul;
						img{
							opacity: .3;
						}
					}
					span{
						background-color: $naranja; color: #fff !important;
					}
				}
			}
		}
	}
}
.galeria-interior {
	padding: 160px 0 30px 0;
	h1{
		color: $grisclaro; font-size: 48px; text-transform: uppercase; font-family: $black;
	}
}


.galeria-casa{
	 padding: 0 0 70px 0;
	.gallery-cell {
		width: 60%; margin-right: 20px;text-align: center;
		img{
			opacity: .3; @include transition;
		}
	}
	.is-selected{
		img{
			opacity: 1;
		}
	}
	.flickity-page-dots{
		.dot{
			background: $naranja;
		}
	}
}
.info-casa{
	margin: 0 0 50px 0;
	ul{
		li{
			font-size: 16px; margin-bottom: 10px;
		}
	}
}
@media #{$break-xs} {
	.galeria-casa{
		.gallery-cell{
			width: 100%;
		}
	}
}
@media #{$break-480} {
	.galeria-casa{
		.gallery-cell{
			width: 100%;
		}
	}
}
@media #{$break-320} {
	.galeria-casa{
		.gallery-cell{
			width: 100%;
		}
	}
}


iframe  {
   width: 100%;height: 550px;
}
.filters-select{
	margin-bottom: 30px;
}
.grid-video{
	margin-bottom: 90px;
	item{
		margin-bottom: 20px;
	}
	.caption{
		margin-bottom: 20px;
		a{
			display: block; outline: none; position: relative;
			figure{
				img{
				width: 100%; height: auto; vertical-align: middle;
				}
				&:before{
					content: ''; display: block; width: 100%; height: 100%; background: rgba(35, 35, 35, 0.6); position: absolute; top: 0; left: 0; z-index: 0;
				}
			}
			span{
				color: #fff; position: absolute; bottom:10px; display: block; padding: 10px; font-family: $bold; font-size: 16px;  text-transform: uppercase;
				@include transition;
				&:after{
					content: ''; border-bottom: 2px solid #fff; display: block; width: 100%;@include transition;
				}
			}
			&:before{
				content: "\f04b"; font-size: 20px; display: block; position: absolute; top: 13px; right: 26px; font-family: 'FontAwesome';
				color: #fff; z-index: 10;  @include transition;
			}
			&:hover{
				span{
					color: $naranja;
					&:after{
						border-bottom: 2px solid $naranja;
					}
				}
				&:before{
					color: $naranja;
				}
			}
		}
	}
}
.t-aviso{
	padding: 160px 0 30px 0;
	h1{
		color: $grisclaro; font-size: 48px; text-transform: uppercase; font-family: $black;
	}
	figure{
		text-align: center; margin-top: 20px;
		img{
			width: 100%; height: auto; max-width: 230px;
		}
	}
}
.aviso-p{
	padding-bottom: 80px;
	p{
		margin: 40px 0 10px 0;
	}
}
@media #{$break-xs} {
	.t-aviso{
		h1{
			text-align: center;
		}
		figure{
			margin: 20px 0 20px 0;
		}
	}
}

 .msggracias{
	position: fixed; top: 0; left: 0; z-index: 1000; width: 100%; padding: 15px 0; background: #009740; color: #fff; font-size: 14px; text-align: center; display: none;
	font-family: $bold;
}
.msgnoenviado, .msgnoenviadocaptcha{
	@extend .msggracias;
	background: #DF0101;
}
.g-recaptcha{
	margin-top: 15px;
}



.sist-const{
	.intro-sist{
		margin: 160px 0 50px 0;
		h1{
			color: $grisclaro; font-size: 48px; text-transform: uppercase; font-family: $black;
		}
		.media{
			padding-left: 25%;
			.media-body{
				h4{
					margin-bottom: 15px;
				}
				a{
					color: $naranja; font-size: 18px; margin-top: 30px;
				}
				&:hover{
					a{
						color: $azul;
						i{
							color: $azul;
						}
					}
				}
			}
		}
	}
	.nav-tabs{
		li{
			a{
				color: $azul; border-radius: 0;
				&:focus{
					border-color: $naranja; background-color: $naranja; color: #fff;
				}
			}
			&.dropdown{
				a{
					padding-top: 10px; padding-bottom: 10px;
				}
				.dropdown-menu{
					border-radius: 0; border-color: #fff;
				}
			}
		}
	}
}

.casa{
	width: 1024px; height: 768px; margin: 40px auto 80px; position: relative;
	img{
		position: absolute; top: 0; left: 0;
	}
	.cursorHand{
		cursor: pointer;
	}
	.casa-base{
		position: relative; width: 1024px; height: 768px;
		.base{ z-index: 0; }
		.techo{ z-index: 1; }
		.fachada{ z-index: 2; }
		.patio{ z-index: 3; }
		.point-techo{ z-index: 4; top: 200px; left: 630px; }
		.point-fachada{ z-index: 4; top: 320px; left: 710px; }
		.point-patio{ z-index: 4; top: 450px; left: 340px; }
		.txt{
			position: absolute; bottom: 50px; right: 50px; width: 280px; z-index: 10;
			p{
				color: #fff; font-size: 16px; background: rgba(0, 0, 0, .5); padding: 15px; line-height: 130%; margin: 0;
				strong{
					font-size: 22px;
				}
			}
			ul{
				list-style-type: none; padding: 0; margin: 0;
				li{
					display: inline-block; width: 33.3%; float: left;
					a{
						display: block; padding: 10px; background: $naranja; color: #fff; text-transform: uppercase; letter-spacing: 1px;
						i{
							color: #fff; position: relative; top: inherit; left: inherit;
						}
						&:hover{
							background: $naranja/.8; text-decoration: none;
						}
					}
				}
			}
		}
	}
	.pasos{
		position: absolute; top: 50px; left: 70px; z-index: 100; list-style-type: none; padding: 0; margin: 0;
		li{
			position: relative; background: rgba(0, 0, 0, .5); color: #fff; margin-bottom: 15px; padding: 5px 10px; min-width: 170px; opacity: 0;
			span{
				display: block; width: 30px; background: $azul; position: absolute; top: 0; left: -30px; font-family: $bold; text-align: center; padding-top: 3px; padding-bottom: 3px; font-size: 18px;
			}
			div{
				font-size: 16px;
				small{
					font-size: 12px; display: block;
				}
			}
			button{
				background: transparent; border: none; box-shadow: none !important; padding: 0px; text-align: right; outline: none !important;
				&:hover{
					color: $naranja !important;
				}
				&:focus{
					color: #fff;
				}
			}
			&:before{
				content: ''; display: block; width: 0; height: 0; border-style: solid; border-width: 0 30px 30px 0; border-color: transparent #007bff transparent transparent; position: absolute; top: 0; right: 0;
			}
			&:nth-child(1){
				&:before{ border-color: transparent $azul transparent transparent; }
			}
			&:nth-child(2){
				&:before{ border-color: transparent #009247 transparent transparent; }
			}
			&:nth-child(3){
				&:before{ border-color: transparent #21A6DE transparent transparent; }
			}
			&:nth-child(4){
				&:before{ border-color: transparent #CFA6A9 transparent transparent; }
			}
			&:nth-child(5){
				&:before{ border-color: transparent #CCDB29 transparent transparent; }
			}
			&:nth-child(6){
				&:before{ border-color: transparent $naranja transparent transparent; }
			}
		}
	}
	.muro-patio{
		margin-top: 80px;
		.patio1{ z-index: 1; }
		.patio2{ z-index: 2; opacity: 0; }
		.patio3{ z-index: 3; opacity: 0; }
		.patio4{ z-index: 4; opacity: 0; }
		.patio5{ z-index: 5; opacity: 0; }
		.patio6{ z-index: 6; opacity: 0; }
		.fl1{ position: absolute; top: 80px; left: 60px; }
		.fl2{ position: absolute; top: 165px; left: 60px; }
		.fl3{ position: absolute; top: 250px; left: 60px; }
		.fl4{ position: absolute; top: 335px; left: 60px; }
		.fl5{ position: absolute; top: 420px; left: 60px; }
		.reset{position: absolute; bottom: 0; left: 50px;}
		.reset-o{position: absolute; top: 680px; right: 140px !important; z-index: 1000;}
	}
}
.t-sistema{
		position: absolute;
	h3{
		color: $azul; z-index: 100;  top: -60px; position: absolute; font-family: $light;
	}
}
.modal{
	&.modal-sistema{
		.modal-content{
			background-color: #E6E7E8; border-radius: 0; border-color: #E6E7E8;
			.modal-header{
				.close{
					opacity: 1; color: #fff; background: $naranja; padding: 5px 8px 7px; position: absolute; top: 1px; right: -1px; outline: none;
					&:hover{
						background: $naranja/.9;
					}
				}
				h4{
					margin-bottom: 15px;
				}
				p{
					font-size: 14px; letter-spacing: inherit;
				}
			}
			.modal-body{
				figure{
					img{
						width: 100%; height: auto; position: relative; top: 0; left: 0;
					}
				}
				h5{
					font-size: 18px; font-family: $bold;
				}
				h6{
					font-size: 14px; font-family: $bold;
				}
				p{
					font-size: 14px; letter-spacing: inherit;
				}
				hr{
					border-color: $gristexto/.25;
				}
			}
		}
	}
}


.casa-space{
	padding-top: 103px;
}

.banner-casa{
	width: 100%; position: relative;
	.cycle-slideshow{
		width: 100%;
		.slide{
			width: 100%; height: 73vh; background-size: cover; background-position: center;
			figure{
				position: relative; z-index: 1;
				img{
					width: 100%; height: auto; vertical-align: middle;
				}
			}
			.caption{
				position: absolute; top: 38%; left: 0; width: 100%; z-index: 5;
                h1{
					padding: 0; margin: 0; font-family: $black; font-size: 48px; text-transform: uppercase; color: #fff;
					span{
						border-bottom: 1px solid #fff; display: inline-block; padding: 0 30px 10px; margin-bottom: 15px;  color: #fff;
					}
				}
				small{
					font-family: $bold; font-size: 24px; letter-spacing: 1px;  color: #fff;
				}
			}
		}
	}
	.cycle-pager {
	    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;
	    > * {
	    	cursor: pointer;
	    }
	    span {
	    	font-family: arial; font-size: 40px; width: 13px; height: 13px; display: inline-block; color: rgba(255,255,255,.3); cursor: pointer; margin: 0 5px;
	    	&.cycle-pager-active {
	    		color: $naranja;
	    	}
		}
	}
}
/*.banner-casa{
	background: url('../images/banner-casa.jpg') center center no-repeat; background-size: cover; padding: 250px 0; color: #fff; text-shadow: 0 2px 4px rgba(0,0,0,0.20);
	h1{
		padding: 0; margin: 0; font-family: $black; font-size: 48px; text-transform: uppercase;
		span{
			border-bottom: 1px solid #fff; display: inline-block; padding: 0 30px 10px; margin-bottom: 15px;
		}
	}
	small{
		font-family: $bold; font-size: 24px; letter-spacing: 1px;
	}
}*/
@media #{$break-sm} {
	.banner-casa{
		padding: 0;
		h1{
			font-size: 36px;
		}
	}
}
@media #{$break-xs} {
	.banner-casa{
		padding: 0;
		h1{
			font-size: 26px;
		}
		small{
			font-size: 18px;
		}
	}
}

.casa-intro{
	background: #F5F5F5; padding: 80px 0 40px;
	article{
		h2{
			color: $azul; font-size: 24px; margin: 0 0 20px; padding: 0; font-family: $bold;
		}
	}
	.descargar-b{
		background: $naranja; color: #fff; letter-spacing: 1px; padding: 10px 13px; margin: 20px 0 10px 0; display: inline-block; @include transition;
		&:hover{
			text-decoration:none; background: #f7833e;
		}
	}
	hr{
		border-color: $grisclaro; margin-bottom: 40px; margin-top: 30px;
	}
	.feats{
		div{
			margin-bottom: 40px;
		}
		figure{
			margin-bottom: 15px;
		}
		h3{
			padding: 0; margin: 0 0 15px; font-size: 18px; font-family: $bold; color: $naranja;
		}
		p{
			margin: 0; padding: 0;
		}
	}
	.video{
		width: 100%; height: 90vh; position: relative;
		.covervid-wrapper {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
	.thumb{

		img{
			box-shadow: 10px 10px 0 #D8D8D8; width: 100%; height: auto;
		}
	}
}

.panel-quote{
	font-family: $light; font-size: 26px; color: $azul; letter-spacing: 1px; line-height: 130%; position: relative; margin-top: 40px; border: none; padding-top: 30px; padding-left: 30px;
	small{
		font-family: $bold; font-size: 16px; color: $azul; display: block; margin-top: 15px;
	}
	&:before{
		content: ''; display: block; width: 60px; height: 60px; background: url('../images/quote.png'); background-size: cover; position: absolute; top: 0; left: 0; z-index: 0;
	}
}

.casa-nivel{
	margin: 80px 0 60px;
	hr{
		margin-top: 20px; margin-bottom: 40px;
	}
	.nivel{
		article{
			margin-bottom: 30px;
			h4{
				font-size: 24px; font-family: $bold; color: $azul;
			}
		}
		.plano{
			a{
				display: block; position: relative; margin-bottom: 20px;
				span{
					position: absolute; top: 0; right: 0; z-index: 5;
				}
			}
		}
		.feats{
			div{
				margin-bottom: 30px;
				figure{
					display: flex; justify-content: center; align-items: center; min-height: 60px;
				}
				figcaption{
					font-family: $bold;
					span{
						color: $naranja;
					}
				}
			}
		}
	}
}

.casa-alianzas{
	background: url('../images/cocina-casa-panel2.jpg') center center no-repeat; background-size: cover; width: 100%; /*height: 60vh;*/ padding-bottom: 60px;
	h5{
		font-family: $bold; font-size: 24px; margin: 0 0 20px; padding: 0; letter-spacing: 1px; text-align: center; color: #fff;
		padding: 80px 0 90px;
	}
	.item{
		figure{
			min-height: 100px; position: relative;
			img{
				position: absolute;
			}
		}
	}
	/*article{
		background: rgba(51, 51, 51, .7); padding: 30px; color: #fff;
		div{
			border-left: 3px solid $naranja; padding-left: 15px; text-shadow: 0 2px 4px rgba(0,0,0,0.50);
			h5{
				font-family: $bold; font-size: 24px; margin: 0 0 20px; padding: 0; letter-spacing: 1px;
			}
			ul{
				li{
					font-size: 20px; text-transform: uppercase;
				}
			}
		}
	}*/
}
@media #{$break-sm} {
	.casa-alianzas{
		height: auto; 
		h5{
			padding: 30px 0;
		}
	}
}

.casa-arq{
	margin-top: 80px; margin-bottom: 80px;
	article{
		h6{
			color: $azul; font-size: 24px; margin: 0 0 20px; padding: 0; font-family: $bold;
		}
	}
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
