@mixin transition {
  $ease-out: 1s;
  -webkit-transition: all $ease-out;
  -moz-transition: all $ease-out;
  -o-transition: all $ease-out;
  transition: all $ease-out;
}


@mixin transitions($transition-speed) {
	-webkit-transition: all #{$transition-speed};
	-moz-transition: all #{$transition-speed};
	-ms-transition: all #{$transition-speed};
	-o-transition: all #{$transition-speed};
	transition: all #{$transition-speed};
}

@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}
