@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/SourceSansPro-Black.woff') format('woff'),
  	   url('../fonts/SourceSansPro-Black.ttf')  format('truetype'),
  	   url('../fonts/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/SourceSansPro-Bold.woff') format('woff'), 
       url('../fonts/SourceSansPro-Bold.ttf')  format('truetype'), 
       url('../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src:  url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/SourceSansPro-Regular.woff') format('woff'), 
        url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'), 
        url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/SourceSansPro-Light.woff') format('woff'), 
  	   url('../fonts/SourceSansPro-Light.ttf')  format('truetype'), 
  	   url('../fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
