<div class="casa-base">
	<img src="assets/sc/images/dot.png" class="cursorHand point-techo wow fadeIn" data-wow-delay=".6s" />
	<img src="assets/sc/images/dot.png" class="cursorHand point-patio wow fadeIn" data-wow-delay=".9s" />
	<img src="assets/sc/images/dot.png" class="cursorHand point-fachada wow fadeIn" data-wow-delay=".3s" />

	<img src="assets/sc/images/muro-techo.png" class="techo movs" />
	<img src="assets/sc/images/muro-patio.png" class="patio movs" />
	<img src="assets/sc/images/muro-fachada.png" class="fachada movs" />
	<img src="assets/sc/images/casa.jpg" class="base" />

	<div class="txt">
		<p>
			<strong>Explora el interior</strong> de la casa y conoce los materiales que la componen.
		</p>
		<ul>
			<li><a href="#" class="clickSala">Sala <i class="fa fa-chevron-right"></i></a></li>
			<li><a href="#" class="clickCocina">Cocina <i class="fa fa-chevron-right"></i></a></li>
			<li><a href="#" class="clickBano">Baño <i class="fa fa-chevron-right"></i></a></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
$(function(){
	$('.point-techo').click(function(e) {
		$('#contents').load('assets/sc/techo.html');
		e.preventDefault();
	});
	$('.point-patio').click(function(e) {
		$('#contents').load('assets/sc/muro-lateral.html');
		e.preventDefault();
	});
	$('.point-fachada').click(function(e) {
		$('#contents').load('assets/sc/muro-fachada.html');
		e.preventDefault();
	});
	$('.clickSala').click(function(e) {
		$('#contents').load('assets/sc/interior-sala.html');
		e.preventDefault();
	});
	$('.clickBano').click(function(e) {
		$('#contents').load('assets/sc/interior-bano.html');
		e.preventDefault();
	});
	$('.clickCocina').click(function(e) {
		$('#contents').load('assets/sc/interior-cocina.html');
		e.preventDefault();
	});

	$('.movs').animate({opacity: 0}, 0);

	$('.point-techo').hover(function() {
		$('.techo').animate({opacity: 1}, 300);
	}, function() {
		$('.techo').stop().animate({opacity: 0}, 300);
	});

	$('.point-patio').hover(function() {
		$('.patio').animate({opacity: 1}, 300);
	}, function() {
		$('.patio').stop().animate({opacity: 0}, 300);
	});

	$('.point-fachada').hover(function() {
		$('.fachada').animate({opacity: 1}, 300);
	}, function() {
		$('.fachada').stop().animate({opacity: 0}, 300);
	});

});
</script>
