<div class="container t-sistema">
	<div class="row">
		<div class="col-lg-12">
			<h3>Muro Interior y Plafón Baño - Sistemas para Interior</h3>
		</div>
	</div>
</div>
<div class="muro-patio">
	<ul class="pasos">
		<li class="paso1">
			<span>1</span>
			<div>Estructura <small>Metálica</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal1"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso2">
			<span>2</span>
			<div>Aislamiento <small>Térmo-acústico</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal2"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso3">
			<span>3</span>
			<div>Panel de Yeso <small>Water Rey X / Water Rey</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal3"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso4">
			<span>4</span>
			<div>Uniones <small>con cinta y malla</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal4"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso5">
			<span>5</span>
			<div>Recubrimiento <small>Base Coat</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal5"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso6">
			<span>6</span>
			<div>Acabado <small>Pintura acrílica o azulejo</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal6"><i class="fa fa-plus"></i></button>
		</li>
		<a href="#" class="fl1"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl2"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl3"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl4"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl5"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="reset"><img src="assets/sc/images/reset.png"/></a>
	</ul>
	<img src="assets/sc/images/bano1.jpg" class="patio1" />
	<img src="assets/sc/images/bano2.jpg" class="patio2" />
	<img src="assets/sc/images/bano3.jpg" class="patio3" />
	<img src="assets/sc/images/bano4.jpg" class="patio4" />
	<img src="assets/sc/images/bano5.jpg" class="patio5" />
	<img src="assets/sc/images/bano6.jpg" class="patio6" />
	<a href="#" class="reset-o"><img src="assets/sc/images/reset.png"/></a>
</div>

<script type="text/javascript">
$(function(){
	$('.reset, .reset-o').on('click', function(e) {
		e.preventDefault();
		$('#contents').load('assets/sc/interior-bano.html');
	});

	$('.fl1, .fl2, .fl3, .fl4, .fl5, .reset').fadeOut(0);

	$('.paso1').addClass('animated fadeInDown');
	$('.fl1').delay(1000).fadeIn(300);

	$('.fl1').click(function(e) {
		$(this).fadeOut(100);
		$('.paso2').addClass('animated fadeInDown');
		$('.fl2').delay(1000).fadeIn(300);
		$('.patio2').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl2').click(function(e) {
		$(this).fadeOut(100);
		$('.paso3').addClass('animated fadeInDown');
		$('.fl3').delay(1000).fadeIn(300);
		$('.patio3').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl3').click(function(e) {
		$(this).fadeOut(100);
		$('.paso4').addClass('animated fadeInDown');
		$('.fl4').delay(1000).fadeIn(300);
		$('.patio4').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl4').click(function(e) {
		$(this).fadeOut(100);
		$('.paso5').addClass('animated fadeInDown');
		$('.fl5').delay(1000).fadeIn(300);
		$('.patio5').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl5').click(function(e) {
		$(this).fadeOut(100);
		$('.paso6').addClass('animated fadeInDown');
		$('.reset').delay(1000).fadeIn(300);
		$('.patio6').fadeTo(300, 1);
		e.preventDefault();
	});
});
</script>

<!-- Modal 1 -->
<div class="modal modal-sistema fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Estructura</h4>
				<p> Excelente protección anticorrosiva debido a su galvanizado, por lo cual responden a los requerimientos escenciales de resistencia y durabilidad.</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/estructura-fachada.jpg" alt="Estructura" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Estructura Métalica Pared</h5>
						<p>
							Formada por un Poste Metálico y Canal de Amarre, sirve para dar soporte al muro interior.
						</p>
						<h5>Instalación</h5>
						<p>
							Se marca en el piso donde se hará la colocación de los canales fijándolos con tornillos y taquetes a 60 cms. Posteriormente se colocan los postes a cada 61 cms partiendo de los extremos.
						</p>
						<hr>

						<h5>Estructura Métalica Techo</h5>
						<p>
							Formada por un Ángulo de Amarre, Canaleta de Carga y Canal Listón, sirve para dar soporte al plafón.
						</p>
						<h5>Instalación</h5>
						<p>
							Se coloca el ángulo de amarre en todo el perímetro, después se forma una cuadrícula con la canaleta de carga y el canal listón sujetándolos con alabre galvanizado.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal 2 -->
<div class="modal modal-sistema fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Aislamiento</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/aislamiento-termoacustico.jpg" alt="Aislamiento Termo-acústico" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Aislamiento Termo-acústico</h5>
						<p>
							Fabricado con fibra de vidrio. Excelente para aislar térmica y acústicamente una obra arquitectónica. Se recomienda para interior de muros y canceles divisorios, sobre falsos plafones, como absorbente de sonido bajo cierto tipo de pisos, y en el interior de sistemas hechos con paneles de yeso.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se coloca la fibra de vidrio en los espacios libres dentro de la estructura metálica por secciones en forma vertical.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 3 -->
<div class="modal modal-sistema fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Panel de Yeso</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/water-rey.jpg" alt="Water Rey" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Water Rey X Pared</h5>
						<p>
							Panel de yeso resistente a la humedad y al fuego. Ideal para instalarse en marcos de muros y debajo de madera, metal, ladrillo y estuco. 
							Está cubierto por ambos lados con papel 100% reciclado, cubriendo las orillas biseladas del panel para mayor fortalecimiento y protección del núcleo.
						</p>
						
						<h5>Instalación</h5>
						<p>
							Se atornilla el panel en forma horizontal o vertical a la estructura metálica con una separación de 30 cms. 
						</p>
						<hr>
						<h5>Water Rey Techo </h5>
						<p>
							Práctico panel de yeso resistente a la humedad limitada, como en bañeras, regaderas, fregadores, tocadores, cocinas, lavanderías, y cuartos de servicio. Es un panel especialmente procesado para proporcionar una superficie base en la aplicación de adhesivos para azulejos cerámicos o plásticos, en áreas expuestas a humedad limitada.
						</p>
						
						<h5>Instalación</h5>
						<p>
							Se atornilla el panel en forma horizontal o vertical a la estructura metálica con una separación de 30 cms. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 4 -->
<div class="modal modal-sistema fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Uniones</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/cinta-malla.jpg" alt="Uniones Cinta y Malla" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Uniones Cinta y Malla</h5>
						<p>
							Formada con hilos de fibra de vidrio que proveen una mayor resistencia. Utilizada como refuerzos para el tratamiento de juntas al exterior, especialmente en paneles de yeso o cemento para exteriores
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se colocan las uniones de los paneles en conjunto con el recubrimineto base.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 5 -->
<div class="modal modal-sistema fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Recubrimiento</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/base-coat2.jpg" alt="Recubrimiento Base Caot" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Compuesto Ready Mix</h5>
						<p>
							Producto especializado, conformado por una mezcla inteligente de cemento portland. Diseñado para el tratamiento de uniones, esquinas y molduras, fijar las cintas y mallas de fibra de vidrio en exterior, y servir como capa base para paneles de yeso exteriores o base cemento.

							Fórmula ideal para proveer un óptimo desempeño en características críticas como la facilidad para ser afinado, reducción del tiempo de lijado y secado. Protección garantizada contra el crecimineto de microorganismos durante su aplicación en la obra.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Para adherir y embebar la cita de papel para refuerzo, colocar sobre las uniones de los paneles con una espátula de acero.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 6 -->
<div class="modal modal-sistema fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Acabado </h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/acabado-muro-fachada.jpg" alt="Acabado" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Pintura o Azulejo</h5>
						<p>
							Pintura formulada con resina vinil acrílica, cargas de alta selección y pigmentos de firme solidez a la luz. De buen desempeño para interiores y exteriores. Diseñada para el aplicador en donde se requiera dar el toque final.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Aplicar sobre la superficie limpia y libre de polvo con brocha o rodillo, dar 2 o 3 capas según acabado deseado.						
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
