<div class="container t-sistema">
	<div class="row">
		<div class="col-lg-12">
			<h3>Muro Interior y Plafón Sala - Sistemas para Interior</h3>
		</div>
	</div>
</div>
<div class="muro-patio">
	<ul class="pasos">
		<li class="paso1">
			<span>1</span>
			<div>Estructura <small>Metálica</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal1"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso2">
			<span>2</span>
			<div>Aislamiento <small>Térmo-acústico</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal2"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso3">
			<span>3</span>
			<div>Panel de Yeso <small>Light Rey / Ceiling Rey</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal3"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso4">
			<span>4</span>
			<div>Uniones <small>con cinta de papel</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal4"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso5">
			<span>5</span>
			<div>Compuesto <small>Ready Mix</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal5"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso6">
			<span>6</span>
			<div>Acabado <small>Pintura acrílica</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal6"><i class="fa fa-plus"></i></button>
		</li>
		<a href="#" class="fl1"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl2"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl3"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl4"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl5"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="reset"><img src="assets/sc/images/reset.png"/></a>

	</ul>
	<img src="assets/sc/images/sala1.jpg" class="patio1" />
	<img src="assets/sc/images/sala2.jpg" class="patio2" />
	<img src="assets/sc/images/sala3.jpg" class="patio3" />
	<img src="assets/sc/images/sala4.jpg" class="patio4" />
	<img src="assets/sc/images/sala5.jpg" class="patio5" />
	<img src="assets/sc/images/sala6.jpg" class="patio6" />
	<a href="#" class="reset-o"><img src="assets/sc/images/reset.png"/></a>
</div>

<script type="text/javascript">
$(function(){
	$('.reset, .reset-o').on('click', function(e) {
		e.preventDefault();
		$('#contents').load('assets/sc/interior-sala.html');
	});

	$('.fl1, .fl2, .fl3, .fl4, .fl5, .reset').fadeOut(0);

	$('.paso1').addClass('animated fadeInDown');
	$('.fl1').delay(1000).fadeIn(300);

	$('.fl1').click(function(e) {
		$(this).fadeOut(100);
		$('.paso2').addClass('animated fadeInDown');
		$('.fl2').delay(1000).fadeIn(300);
		$('.patio2').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl2').click(function(e) {
		$(this).fadeOut(100);
		$('.paso3').addClass('animated fadeInDown');
		$('.fl3').delay(1000).fadeIn(300);
		$('.patio3').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl3').click(function(e) {
		$(this).fadeOut(100);
		$('.paso4').addClass('animated fadeInDown');
		$('.fl4').delay(1000).fadeIn(300);
		$('.patio4').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl4').click(function(e) {
		$(this).fadeOut(100);
		$('.paso5').addClass('animated fadeInDown');
		$('.fl5').delay(1000).fadeIn(300);
		$('.patio5').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl5').click(function(e) {
		$(this).fadeOut(100);
		$('.paso6').addClass('animated fadeInDown');
		$('.reset').delay(1000).fadeIn(300);
		$('.patio6').fadeTo(300, 1);
		e.preventDefault();
	});
});
</script>

<!-- Modal 1 -->
<div class="modal modal-sistema fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Estructura</h4>
				<p> Excelente protección anticorrosiva debido a su galvanizado, por lo cual responden a los requerimientos escenciales de resistencia y durabilidad.</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/estructura-fachada.jpg" alt="Estructura Métalica" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Estructura Métalica Pared</h5>
						<p>
							Formada por un Ángulo de Amarre, Canaleta de Carga y Canal Listón, sirve para dar soporte al plafón.
						</p>
						<h5>Instalación</h5>
						<p>
							Se coloca el ángulo de amarre en tidi el perímetro, después se forma una cuadrícula con la canaleta de carga y el canal listón sujetándolos con alambre galvanizado.
						</p>
						<hr>

						<h5>Estructura Métalica Techo</h5>
						<p>
							Formada por Poste Metálico y Canal de Amarre, sirve para dar soporte al muro interior.
						</p>
						<h5>Instalación</h5>
						<p>
							Se marca en el piso donde se hará la colocación de los canales fijándolos con tornillos y taquetes a 60 cms. Posteriormente se colocan los postes a cada 61 cms partiendo de los extremos.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 2 -->
<div class="modal modal-sistema fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Aislamiento</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/aislamiento-termoacustico.jpg" alt="Aislamiento Termo-acústico" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Aislamiento Termo-acústico</h5>
						<p>
							Fabricado con fibra de vidrio. Excelente para aislar térmica y acústicamente una obra arquitectónica. Se recomienda para interior de muros y canceles divisorios, sobre falsos plafones, como absorbente de sonido bajo cierto tipo de pisos, y en el interior de sistemas hechos con paneles de yeso.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se coloca la fibra de vidrio en los espacios libres dentro de la estructura metálica.
						</p>
						<!-- <h5>Techo</h5>
						<p>
							Fabricado con fibra de vidrio. 
						</p>
						<h6>Instalación</h6>
						<p>
							Se coloca la fibra de vidrio en los espacios libres dentro de la estructura metálica por secciones en forma vertical.
						</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 3 -->
<div class="modal modal-sistema fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Panel de Yeso</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/glass-rey.jpg" alt="Panel de Yeso" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Muro Light Rey</h5>
						<p>
							Más ligero que un panel de yeso de 1/2" de núcleo incombustible hecho esencialmente de yeso con orillas biseladas a todo lo largo. Cumple la función de un panel para muros y cielos.
						</p>
						<h5>Instalación</h5>
						<p>
							Se atornilla el panel en forma horizontal o vertical a la estructura metálica con una separación de 30 cms. 
						</p>
						<hr>
						<h5>Plafón Ceiling Rey</h5>
						<p>
							Posee un núcleo de yeso dimensionalmente estable e incombustible, formulado y reforzado con fibra de vidrio y aditivos que incrementan su resistencia a la deflexión aun instalado en condiciones críticas de humedad, carga y espaciamiento entre soportes. Para plafón corrido, especial para techos y cielos.
						</p>
						<h5>Instalación</h5>
						<p>
							Se atornilla el panel en forma horizontal o vertical a la estructura metálica con una separación de 30 cms. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 4 -->
<div class="modal modal-sistema fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Uniones</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/cinta-papel.jpg" alt="Uniones Con Cinta De Papel" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Uniones Con Cinta De Papel</h5>
						<p>
							Fabricado con fibras de papel de alta calidad para aportar la mayor resistencia. Lijada por ambas caras para incrementar su adherencia al sustrato, tiene un marcado central para un doblez más fácil y es la única con microperforaciones para que el papel se embeba mejor con la pasta
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se coloca en las uniones de los paneles en conjunto con el compuesto ready mix.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 5 -->
<div class="modal modal-sistema fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Compuesto</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/ready-mix.jpg" alt="Compuesto Ready Mix" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Ready Mix</h5>
						<p>
							Fórmula ideal para proveer un óptimo desempeño en características críticas como la facilidad para ser afinado, reducción del tiempo de lijado y secado. 
							Protección garantizada contra el crecimiento de microorganismos durante su aplicación en la obra.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Para adherir y embeber la cinta de papel para refuerzo. Colocar sobre las uniones de los paneles con una espátula de acero.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 6 -->
<div class="modal modal-sistema fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="modal6">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Acabado</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/acabado-muro-fachada.jpg" alt="Acabado" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Pintura</h5>
						<p>
							Pintura formulada con resina vinil acrílica, cargas de alta selección y pigmentos de firme solidez a la luz. De buen desempeño para interiores y exteriores. Diseñada para el aplicador en donde se requiera dar el toque final.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Aplicar sobre la superficie limpia y libre de polvo con brocha o rodillo, dar 2 o 3 capas según acabado deseado.						
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>