<div class="container t-sistema">
	<div class="row">
		<div class="col-lg-12">
			<h3>Muro Fachada Principal - Sistemas para Exterior</h3>
		</div>
	</div>
</div>
<div class="muro-patio">
	<ul class="pasos">
		<li class="paso1">
			<span>1</span>
			<div>Estructura <small>Metálica</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal1"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso2">
			<span>2</span>
			<div>Aislamiento <small>Térmo-acústico</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal2"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso3">
			<span>3</span>
			<div>Panel de Cemento <small>Premabase</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal3"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso4">
			<span>4</span>
			<div>Uniones <small>con cinta y malla</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal4"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso5">
			<span>5</span>
			<div>Recubrimiento <small>Base coat</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal5"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso6">
			<span>6</span>
			<div>Acabado <small>Pasta texturizada</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal6"><i class="fa fa-plus"></i></button>
		</li>
		<a href="#" class="fl1"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl2"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl3"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl4"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl5"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="reset"><img src="assets/sc/images/reset.png"/></a>
		
	</ul>
	<img src="assets/sc/images/fachada1.jpg" class="patio1" />
	<img src="assets/sc/images/fachada2.jpg" class="patio2" />
	<img src="assets/sc/images/fachada3.jpg" class="patio3" />
	<img src="assets/sc/images/fachada4.jpg" class="patio4" />
	<img src="assets/sc/images/fachada5.jpg" class="patio5" />
	<img src="assets/sc/images/fachada6.jpg" class="patio6" />
	<a href="#" class="reset-o"><img src="assets/sc/images/reset.png"/></a>
</div>

<script type="text/javascript">
$(function(){
	$('.reset, .reset-o').on('click', function(e) {
		e.preventDefault();
		$('#contents').load('assets/sc/muro-fachada.html');
	});

	$('.fl1, .fl2, .fl3, .fl4, .fl5, .reset').fadeOut(0);

	$('.paso1').addClass('animated fadeInDown');
	$('.fl1').delay(1000).fadeIn(300);

	$('.fl1').click(function(e) {
		$(this).fadeOut(100);
		$('.paso2').addClass('animated fadeInDown');
		$('.fl2').delay(1000).fadeIn(300);
		$('.patio2').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl2').click(function(e) {
		$(this).fadeOut(100);
		$('.paso3').addClass('animated fadeInDown');
		$('.fl3').delay(1000).fadeIn(300);
		$('.patio3').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl3').click(function(e) {
		$(this).fadeOut(100);
		$('.paso4').addClass('animated fadeInDown');
		$('.fl4').delay(1000).fadeIn(300);
		$('.patio4').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl4').click(function(e) {
		$(this).fadeOut(100);
		$('.paso5').addClass('animated fadeInDown');
		$('.fl5').delay(1000).fadeIn(300);
		$('.patio5').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl5').click(function(e) {
		$(this).fadeOut(100);
		$('.paso6').addClass('animated fadeInDown');
		$('.reset').delay(1000).fadeIn(300);
		$('.patio6').fadeTo(300, 1);
		e.preventDefault();
	});
});
</script>
<!-- Modal 1 -->
<div class="modal modal-sistema fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Estructura</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/estructura-fachada.jpg" alt="Estructura Métalica" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Estructura Métalica</h5>
						<p>
							Formada por Poste Metálico y Canal de Amarre, sirve para dar soporte a la fachada. Excelente protección anticorrosiva debido a su galvanizado, por lo cual responden a los requerimientos escenciales de resistencia y durabilidad. 
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se anclará a una estructura primaria de acero o concreto, solo cargará su peso y la fuerza predominante a la que será expuesto será la presión del viento.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 2 -->
<div class="modal modal-sistema fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Aislamiento</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/aislamiento-termoacustico.jpg" alt="Aislamiento Termo-acústico" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Aislamiento Termo-acústico</h5>
						<p>
							Fabricado con fibra de vidrio.  Se recomienda como absorbente de sonido y aislamiento térmico para la menos pérdida o ganancia de calor y un ahorro sustancial de energía en sistemas constructivos residenciales.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se coloca la fibra de vidrio en los espacios libres dentro de la estructura metálica por secciones en forma vertical.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 3 -->
<div class="modal modal-sistema fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Panel de Cemento</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/PermaBase.jpg" alt="Panel de Cemento Premabase" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Panel de Cemento Premabase</h5>
						<p>
							Está constituido por un núcleo de cemento aligerado entre dos capas de malla de fibra de vidrio, esto da como resultado una superficie excepcionalmente durable y capaz de soportar la humedad. El núcleo homogéneo tiene pocos poros, lo que permite cortarlo y partirlo de forma muy sencilla y limpia. 
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se atornilla el panel en forma horizontal a la estructura metálica con una separación de 20 cms. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 4 -->
<div class="modal modal-sistema fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Uniones </h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/malla.jpg" alt="Malla" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Cinta y Malla Fibra de Vidrio</h5>
						<p>
							Formadas con hilos de fibra de vidrio que proveen una mayor resistencia. Utilizadas como refuerzos para el tratamiento de juntas al exterior, especialmente en paneles de yeso o cemento para exteriores.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se colocan en las uniones de los paneles en conjunto con el recubrimiento base.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 5 -->
<div class="modal modal-sistema fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Recubrimiento</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/base-coat.jpg" alt="Recubrimiento Base Coat" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Recubrimiento Base Caot</h5>
						<p>
							Producto especializado, conformado por una mezcla inteligente de cemento portland. Diseñado para el tratamiento de uniones, esquinas y molduras, fijar las cintas y mallas de fibra de vidrio en exterior, y servir como capa base para paneles de yeso exteriores o base cemento.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Para adherir y embeber las mallas y cintas de refuerzo. Colocar sobre las uniones de los paneles con una espátula de acero.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 6 -->
<div class="modal modal-sistema fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="modal6">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Acabado</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/acabado-muro-fachada.jpg" alt="Acabado" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Pasta Texturizada</h5>
						<p>
							Recubrimiento texturizado en pasta para ser utilizado como protector final y decorativo diseñado especialmente para exteriores. Proporciona características como transmisión de vapor, baja absorción de humedad y flexibilidad.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Teniendo la mezcla homogénea se deberá aplicar con una llana metálica o de plástico hasta obtener el acabado deseado.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
