<div class="container t-sistema">
	<div class="row">
		<div class="col-lg-12">
			<h3>Techo - Sistemas para Exterior</h3>
		</div>
	</div>
</div>
<div class="muro-patio">
	<ul class="pasos">
		<li class="paso1">
			<span>1</span>
			<div>Estructura <small>Metálica</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal1"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso2">
			<span>2</span>
			<div>Aislamiento <small>Térmo-acústico</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal2"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso3">
			<span>3</span>
			<div>Panel OSB</div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal3"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso4">
			<span>4</span>
			<div>Rollo <small>Asfaltado</small></div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal4"><i class="fa fa-plus"></i></button>
		</li>
		<li class="paso5">
			<span>5</span>
			<div>Teja Asfáltica</div>
			<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modal5"><i class="fa fa-plus"></i></button>
		</li>
		<a href="#" class="fl1"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl2"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl3"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="fl4"><img src="assets/sc/images/flechita.png"/></a>
		<a href="#" class="reset"><img src="assets/sc/images/reset.png"/></a>
	</ul>
	<img src="assets/sc/images/techo1.jpg" class="patio1" />
	<img src="assets/sc/images/techo2.jpg" class="patio2" />
	<img src="assets/sc/images/techo3.jpg" class="patio3" />
	<img src="assets/sc/images/techo4.jpg" class="patio4" />
	<img src="assets/sc/images/techo5.jpg" class="patio5" />
	<a href="#" class="reset-o"><img src="assets/sc/images/reset.png"/></a>
</div>

<script type="text/javascript">
$(function(){
	$('.reset, .reset-o').on('click', function(e) {
		e.preventDefault();
		$('#contents').load('assets/sc/techo.html');
	});

	$('.fl1, .fl2, .fl3, .fl4, .fl5, .reset').fadeOut(0);

	$('.paso1').addClass('animated fadeInDown');
	$('.fl1').delay(1000).fadeIn(300);

	$('.fl1').click(function(e) {
		$(this).fadeOut(100);
		$('.paso2').addClass('animated fadeInDown');
		$('.fl2').delay(1000).fadeIn(300);
		$('.patio2').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl2').click(function(e) {
		$(this).fadeOut(100);
		$('.paso3').addClass('animated fadeInDown');
		$('.fl3').delay(1000).fadeIn(300);
		$('.patio3').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl3').click(function(e) {
		$(this).fadeOut(100);
		$('.paso4').addClass('animated fadeInDown');
		$('.fl4').delay(1000).fadeIn(300);
		$('.patio4').fadeTo(300, 1);
		e.preventDefault();
	});

	$('.fl4').click(function(e) {
		$(this).fadeOut(100);
		$('.paso5').addClass('animated fadeInDown');
		$('.reset').delay(1000).fadeIn(300);
		$('.patio5').fadeTo(300, 1);
		e.preventDefault();
	});

});
</script>

<!-- Modal -->
<div class="modal modal-sistema fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Estructura</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/prueba.png" alt="Estructura Métalica" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Estructura Métalica</h5>
						<p>
							Formada por Viga de Techumbre y Poste Viga sirve para dar soporte al techo y sus complementos. Excelente protección anticorrosiva debido a su galvanizado, por lo cual responden a los requerimientos escenciales de resistencia y durabilidad.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se colocan las vigas de rechumbre y se atornillan en conjunto con el ángulo.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 2 -->
<div class="modal modal-sistema fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Aislamiento</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/aislamiento-termoacustico.jpg" alt="Aislamiento Termo-acústico" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Aislamiento Termo-acústico</h5>
						<p>
							Fabricado con fibra de vidrio. Se recomienda como absorbente de sonido y aislamiento termico para la menos pérdida o ganancia de calor y un ahorro sustancial de energía en sistemas constructivos residenciales.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se coloca la fibra de vidrio en los espacios libres dentro de la estructura metálica por secciones en forma vertical.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 3 -->
<div class="modal modal-sistema fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Panel OSB</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/panel-osb.jpg" alt="Panel OSB" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Panel OSB</h5>
						<p>
							Panel OSB (Oriented Strand Board) es un producto derivado de la madera de concepción técnica avanzada, elaborado a partir de virutas de madera, las cuales son unidas mediante una cola sintética; las virutas son posteriormente prensadas sometiéndolas a unas presiones y temperaturas determinadas.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Una ves instalada la estructura metálica, se colocan los paneles OSB sobre esta con tornillos.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 4 -->
<div class="modal modal-sistema fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Rollo</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/rollo-asfaltado.jpg" alt="Rollo Asfaltado" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Rollo Asfaltado</h5>
						<p>
							Membrana impermeabilizante de asfalto modificado que por sus características ofrece importantes ventajas, por sus características físico-químicas proporciona excelente resistencia, durabilidad y elasticidad para ser empleado en la vivienda.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se colocan sobre el panel OSB desenvolviendo los rollos y cubriendo toda la superficie.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal 5 -->
<div class="modal modal-sistema fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Acabado</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<figure><img src="assets/sc/images/teja.jpg" alt="Teja asfáltica" /></figure>
					</div>
					<div class="col-xs-8">
						<h5>Teja asfáltica</h5>
						<p>
							Placas de tres tablillas que se colocan en el techo creando una apariencia de estilo y realce. Son resistentes al medio ambiente, eliminan goteras y no requieren mantenimiento constante.
						</p>
						<hr>
						<h5>Instalación</h5>
						<p>
							Se colocan por secciones después de haber instalado el rollo asfáltado y deberán ser sujetados por clavos.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
